@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Edu+SA+Beginner&family=Praise&display=swap");
:root {
  --hover-text-color: #fecaec;
  --text-color: #3a3538;
  --shape-color: linear-gradient(
    262deg,
    rgba(246, 0, 187, 1) 0%,
    rgba(0, 143, 250, 1) 100%
  );
  --botton-color: linear-gradient(
    262deg,
    rgba(246, 0, 187, 1) 0%,
    rgba(0, 143, 250, 1) 100%
  );
}
* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
button {
  padding: 1rem;
  margin-top: 2rem;
  background: var(--botton-color);
  color: white;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
}

.a-shape {
  height: 5px;
  width: 5rem;
  background: var(--botton-color);
  margin-left: 1rem;
  filter: blur(5px);
}
button:hover {
  background: linear-gradient(
    90deg,
    rgba(246, 0, 187, 1) 0%,
    rgba(0, 143, 250, 1) 100%
  );
  cursor: pointer;
}
